@page
@model IndexModel
@{
    ViewData["Title"] = "Challenge GyF .Net Core";
}


<div class="input-group" id="presupuesto" style="padding: 15px">
    <div class="px-2 mt-2" style="padding: 15px; display:flex">
        <p style="padding: 15px">Presupuesto:</p>
        <input id="keyword" class="form-control-sm" placeholder="Search Keyword" />
        <button id="search_products" class="btn btn-sm btn-success w-15 ml-2">
            <span class="spinner-border spinner-border-sm mr-1" role="status" style="display:none"></span>
            <i class="fa fa-search mr-1"></i>
            Buscar Productos
        </button>
    </div>
</div>
